{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/applications.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
<main class="container">
  <h2>{{ partial "term_title" . }}</h2>
  {{- $subcat_utils := partial "fn/subcat_apps" (dict "cat" "utilities") -}}

  <div class="py-3">
  {{- range $subcat, $utils := $subcat_utils }}
    <section>
      <h3 id="{{ anchorize $subcat }}">{{ i18n (print "utilities-" $subcat) }}</h3>
      <div class="applications">
      {{- range $utils }}
        {{ partial "app_tile.html" . }}
      {{- end }}
      </div>
    </section>
  {{- end }}
  </div>
</main>
{{ end }}
