{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2021 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}

<div class="application-header pt-2 pb-2">
  <div class="container d-flex">
  <div class="d-flex align-items-center icon-text-header">
    {{ if .Params.icon }}
    {{ partial "icon" (dict "type" "app" "icon" .Params.icon "size" "64" "class" "me-4" "name" .Params.name) }}
    {{ end }}
    <div>
      <h1 class="h3 mt-0">
        {{ .Params.name }}
      </h1>
      <span class="d-flex flex-wrap">
      {{ i18n "categories" }}: &nbsp; <span class="me-5">
      {{ if or (gt (len .Params.Categories) 1) (not (in (slice "addons") .Params.MainCategory)) }}
        {{ range $index, $val := (.GetTerms "categories") }}
          {{ if gt $index 0 }} | {{ end }}
          {{ partial "icon_n_name" (dict "type" "categories" "icon" .Data.Term "size" "16" "name" .Title "link" .RelPermalink) }}
        {{ end }}
      {{ else }}
        {{ .Params.MainCategory | humanize }}
      {{ end }}
      </span>
      {{ if gt (len .Params.platforms) 0 }}
      {{ i18n "platforms" }}: &nbsp; <span>
        {{ range $index, $val := .GetTerms "platforms" }}
          {{ if gt $index 0 }} | {{ end }}
          {{ partial "icon_n_name" (dict "type" "platforms" "icon" .Data.Term "size" "16" "name" .Title "link" .RelPermalink) }}
        {{ end }}
      </span>
      {{ end }}
      </span>
    </div>
  </div>
  <div class="store-badge ms-auto align-self-center" id="top-badge"></div>
  </div>
</div>

{{ if eq .Params.MainCategory "unmaintained" }}
<div class="unmaintained-header pt-2 pb-2">
  <div class="container d-flex">
    <p>{{ i18n "app-unmaintained-notice" }}</p>
  </div>
</div>
{{ end }}
