{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: GPL-2.1-or-later or CECILL-2.1
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/applications.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
<main class="container">
  <h1>{{ .Site.Title }}</h1>
  <p>{{ .Site.Params.description }}</p>

  <div class="row">
    <div class="col-md-5">
      <label for="txtFilter" class="visually-hidden">{{ i18n "text-filter-label" }}</label>
      <input role="search" type="search" class="form-control" id="txtFilter" placeholder="{{ i18n "text-filter-label" }}">
    </div>
    <div class="col-md-2">
      <label for="catFilter" class="visually-hidden">{{ i18n "category-filter-label" }}</label>
      <select id="catFilter" class="form-select form-control">
        <option value="all" selected>{{ i18n "all-categories" }}</option>
        {{ range $term, $v := .Site.Taxonomies.categories }}
          {{ if not (in (slice "addons" "unmaintained") $term) }}
        <option value="{{ $term }}">{{ i18n $term }}</option>
          {{ end }}
        {{ end }}
      </select>
    </div>
    <div class="col-md-2">
      <label for="pfFilter" class="visually-hidden">{{ i18n "platform-filter-label" }}</label>
      <select id="pfFilter" class="form-select form-control">
        <option value="all" selected>{{ i18n "all-platforms" }}</option>
        {{ range $term, $v := .Site.Taxonomies.platforms }}
        <option value="{{ $term }}">{{ i18n $term }}</option>
        {{ end }}
      </select>
    </div>
    <div class="col-md-3">
      <label for="sort" class="visually-hidden">{{ i18n "sort-label" }}</label>
      <select id="sort" class="form-select form-control">
        <option value="popularity-1" selected>{{ i18n "pop-dsc" }}</option>
        <option value="popularity-0">{{ i18n "pop-asc" }}</option>
        <option value="name-0">{{ i18n "name-asc" }}</option>
        <option value="name-1">{{ i18n "name-dsc" }}</option>
      </select>
    </div>
  </div>
  <div id="all-apps" class="applications">
  {{ $pages := .Site.RegularPages }}
  {{ if ne .Site .Sites.First }}
    {{ $pages = $pages | lang.Merge .Sites.First.RegularPages }}
  {{ end }}
  {{ range sort (where (where (where $pages "Section" "applications") "Params.maincategory" "!=" "unmaintained") "Params.apptype" "!=" "addon") "Params.popularity" "desc" }}
    {{ partial "app_tile" . }}
  {{ end }}
  </div>
</main>
{{ end }}

{{ define "tail-import" }}
{{ $js := resources.Get "js/app-list.js" }}
{{ if .Site.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js = $js | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer=""></script>
{{ end }}
{{ end }}
